section{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main{
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.faArrow{
  cursor: pointer;
}
body{
  display:flex;
  flex-direction: row;
}
