section{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main{
  display:flex;
  justify-content: space-evenly;
}

@keyframes left {
  0% {
    transform: translateX(50px);
  }
}